
DrawGantt.Test/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DrawGantt.Test/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DrawGantt.Test/obj/x64/Debug/DrawGantt.Test.pdb
DrawGantt.Test/obj/x64/Debug/DrawGantt.Test.exe
DrawGantt.Test/obj/Debug/DrawGantt.Test.pdb
DrawGantt.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DrawGantt.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DrawGantt.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DrawGantt.Test/obj/Debug/DrawGantt.Test.exe
DrawGantt.Test/obj/Debug/DrawGantt.Test.csprojResolveAssemblyReference.cache
DrawGantt.Test/obj/Debug/DrawGantt.Test.csproj.FileListAbsolute.txt
DrawGantt.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DrawGantt.Test/bin/x64/Debug/testdata.txt
DrawGantt.Test/bin/x64/Debug/icons/icon_task.png
DrawGantt.Test/bin/x64/Debug/icons/icon_stageitem.png
DrawGantt.Test/bin/x64/Debug/icons/icon_stage.png
DrawGantt.Test/bin/x64/Debug/icons/icon_retract.png
DrawGantt.Test/bin/x64/Debug/icons/icon_expand.png
DrawGantt.Test/bin/x64/Debug/gantt.jpg
DrawGantt.Test/bin/x64/Debug/DrawGantt.Test.vshost.exe.config
DrawGantt.Test/bin/x64/Debug/DrawGantt.Test.vshost.exe
DrawGantt.Test/bin/x64/Debug/DrawGantt.Test.pdb
DrawGantt.Test/bin/x64/Debug/DrawGantt.Test.exe.config
DrawGantt.Test/bin/x64/Debug/DrawGantt.Test.exe
DrawGantt.Test/bin/x64/Debug/DrawGantt.Drawing.pdb
DrawGantt.Test/bin/x64/Debug/DrawGantt.Drawing.dll
DrawGantt.Test/bin/Debug/testdata.txt
DrawGantt.Test/bin/Debug/icons/icon_task.png
DrawGantt.Test/bin/Debug/icons/icon_stageitem.png
DrawGantt.Test/bin/Debug/icons/icon_stage.png
DrawGantt.Test/bin/Debug/icons/icon_retract.png
DrawGantt.Test/bin/Debug/icons/icon_expand.png
DrawGantt.Test/bin/Debug/DrawGantt.Test.vshost.exe.manifest
DrawGantt.Test/bin/Debug/DrawGantt.Test.vshost.exe.config
DrawGantt.Test/bin/Debug/DrawGantt.Test.vshost.exe
DrawGantt.Test/bin/Debug/DrawGantt.Test.pdb
DrawGantt.Test/bin/Debug/DrawGantt.Test.exe.config
DrawGantt.Test/bin/Debug/DrawGantt.Test.exe
DrawGantt.Test/bin/Debug/DrawGantt.Drawing.pdb
DrawGantt.Test/bin/Debug/DrawGantt.Drawing.dll
DrawGantt.Drawing/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DrawGantt.Drawing/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DrawGantt.Drawing/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DrawGantt.Drawing/obj/x64/Debug/DrawGantt.Drawing.pdb
DrawGantt.Drawing/obj/x64/Debug/DrawGantt.Drawing.dll
DrawGantt.Drawing/obj/x64/Debug/DrawGantt.Drawing.csproj.FileListAbsolute.txt
DrawGantt.Drawing/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DrawGantt.Drawing/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DrawGantt.Drawing/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DrawGantt.Drawing/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DrawGantt.Drawing/obj/Debug/DrawGantt.Drawing.pdb
DrawGantt.Drawing/obj/Debug/DrawGantt.Drawing.dll
DrawGantt.Drawing/obj/Debug/DrawGantt.Drawing.csproj.FileListAbsolute.txt
DrawGantt.Drawing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DrawGantt.Test/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DrawGantt.Test/obj/x64/Debug/DrawGantt.Test.csprojResolveAssemblyReference.cache
DrawGantt.Test/obj/x64/Debug/DrawGantt.Test.csproj.FileListAbsolute.txt
DrawGantt.Test/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DrawGantt.Drawing/bin/x64/Debug/icons/icon_task.png
DrawGantt.Drawing/bin/x64/Debug/icons/icon_stageitem.png
DrawGantt.Drawing/bin/x64/Debug/icons/icon_stage.png
DrawGantt.Drawing/bin/x64/Debug/icons/icon_retract.png
DrawGantt.Drawing/bin/x64/Debug/icons/icon_expand.png
DrawGantt.Drawing/bin/x64/Debug/DrawGantt.Drawing.pdb
DrawGantt.Drawing/bin/x64/Debug/DrawGantt.Drawing.dll
DrawGantt.Drawing/bin/Debug/icons/icon_task.png
DrawGantt.Drawing/bin/Debug/icons/icon_stageitem.png
DrawGantt.Drawing/bin/Debug/icons/icon_stage.png
DrawGantt.Drawing/bin/Debug/icons/icon_retract.png
DrawGantt.Drawing/bin/Debug/icons/icon_expand.png
DrawGantt.Drawing/bin/Debug/DrawGantt.Drawing.pdb
DrawGantt.Drawing/bin/Debug/DrawGantt.Drawing.dll
DrawGantt.v12.suo
